/*Global*/
@font-face{
    src: url(../fonts/Jersay10.ttf);
    font-family: Jersay10;
}

@font-face{
    src: url(../fonts/HindSiliguri.ttf);
    font-family: Hind;
}

@font-face{
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

:root{  /* Variable CSS (Global Scope)*/
    --red_color1: rgba(255,0,0,1);
    --red_color07: rgba(255,0,0,0.7);

    --blue_color1: rgba(13,133,213,1);
    --blue_color07: rgba(13,133,213,0.7);

    --yellow_color1: rgba(221, 185, 24, 1);
    --yellow_color07: rgba(221, 185, 24, 0.7);

    --purple_color1: rgba(120, 19, 203, 1);
    --purple_color07: rgba(120, 19, 203, 0.7);
}

body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Hind, Arial, Helvetica, sans-serif;
}

h1{
    font-family: Poppins;
}

h2{
    font-family: Poppins;
}

a{
    text-decoration: none;
    color: white;
}

.h2_format{
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.p_format{
    margin-left: 3vw;
    margin-right: 3vw;
}

.text_color{
    color: var(--red_color1);
}

.button_shape{
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--red_color1);
}

.button_shape:hover{
    background-color: var(--red_color07);
}

nav a:hover{
    color: var(--red_color1);
    text-decoration: underline;
}

#style_arrow-left{
    display: inline-block;
    margin-right: 1vh;
    border-radius: 30px;
    padding: 7px 20px;
    background-color: var(--red_color1);
}

#style_arrow-left:hover{
    background-color: var(--red_color07);
}

.flexbox_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Header*/
#header_container1{
    background-color: #060606;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

.inner_header_container1{    /* inner_header_container1 == ihc1*/
    display: flex;
}

#ihc1_left{
    margin-left: 50px;
}

#ihc1_right{
    margin-right: 50px;
}

.pokeball{
    height: 50px;
}

#header_icon{
    margin-top: 6px;
}

.title{
    font-family: Jersay10, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#header_title1{
    margin-top: 6px;
    margin-left: 2px;
}

nav ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

#header_ul{
    margin-top: 17px;
}

nav li{
    font-size: 20px;
    font-weight: bold;
}

#header_nav{
    margin-top: 8px;
}

#header_nav_li{
    float: left;
    margin-right: 70px;
}

#header_button_play{
    margin-top: 15px;
}

#header_container2{
    height: 80vh;
    position: relative; /* Nécessaire pour positionner ::before par rapport à ce conteneur */
    display: flex;
    justify-content: center; /*Centre horizontalement*/
    align-items: end; /*Centre verticalement*/
    text-align: center;
}

#header_container2::before{
    content: ""; /* Nécessaire pour que le pseudo-élément soit affiché */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*Etend pour qu'il couvre l'espace*/
    background-image: url(../images/background2.gif);
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1; /* Mettre le pseudo-élément derrière le contenu (niveau de superposition -1)*/
}

.inner_header_container2{
    margin-bottom: 80px;
}

#header_title2{
    font-size: 50px;
}

.inner_header_container2 p{
    font-size: 20px;
}



/*Main => 4 Sections*/
#three_sections_flexbox{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid white; */
}

#section1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; /*Nécessaire pour pouvoir utiliser position: absolute (On veut se baser sur ça)*/
    height: 100%; /*100vh*/
    width: 40%; /*40vw*/
}

#section_container1{
    height: 90%; /*90 vh*/
    width: 85%; /*32 vw*/
    background-color: #1c1d1f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 2.5vw;
    /* border: 1px solid blue; */
}

#isc1_sprite{   /*isc = inner_section_container1*/
    display: block;
    position: absolute;
    height: auto;
    max-width: 25%;
    left: 0vw;
    bottom: 15vh;
}

#isc1_screenshot{
    border-radius: 20px;
    border: 3px solid white;
    height: 40vh;
    width: 25vw;
    margin-top: 2vh;
    margin-right: -5vw;
}

#button_play_now{
    margin-top: 3vh;
    margin-right: -5vw;
}

#right_flexbox{
    display: flex;
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    flex-direction: column;
}

.section2_3{
    position: relative;
    /* border: 1px solid red; */
}

.section_container2_3{
    height: 40vh;
    width: 50vw;
    margin-top: 5vh;
    margin-left: 5vw;
    background-color: #1c1d1f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

#isc2_pikachu{ /* inner_section_container2*/
    position: absolute;
    height: 20vh;
    left: -0.5vw;
    bottom: 0vh;
}

#isc2_video{
    position: absolute;
    border-radius: 20px;
    border: 3px solid white;
    height: auto;
    max-width: 17%;
    right: 5vw;
    bottom: 0vh;
}

#button_teams{
    margin-left: 10vw;
}

#isc3_img_gen{ /* inner_section_container3*/
    position: absolute;
    border-radius: 20px;
    border: 3px solid white;
    height: auto;
    max-width: 30%;
    bottom: 0vh;
    right: 5vw;
}

#button_gen{
    margin-left: 10vw;
    margin-top: 1vh;
}

#section4{
    height: 80vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_container4{
    height: 95%;
    width: 80%;    
    background-color: #1c1d1f;
    border-radius: 20px;
    display: flex;
}


#left-inner_section_container4{
    width: 40%;
    display: flex;
    flex-direction: column;
}

#right-inner_section_container4{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pyramid-button{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pyramid{
    max-width: 50%;
    height: auto;
    display: block;
}

.r-isc4_box{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon_20vh{
    height: 20vh;
}

#mewtwo{
    margin-left: 5vw;
}

#aquali{
    height: 14vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

/*Footer*/
#footer{
    background-color: #090808;
    display: flex;
    margin-top: 10vh;
    height: 40vh;
}

#footer_container1{
    position: relative;
    overflow: hidden;
    width: 25%;
    height: 100%;
}

.pokeball_gray{
    position: absolute;
    height: auto;
    max-width: 14vw;
}

#img_pokeball1{
    left: -7vw;
    bottom: -11vh;
}

#inner_footer_container1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_icon{
    height: 10vh;
}

#footer_title{
    margin-top: 0%;
    font-size: 60px;
}

#footer_container2{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

#inner_footer_container_top{
    height: 85%;
    width: 100%;
    display: flex;
}

#inner_footer_container_bottom{
    height: 15%;
    width: 100%;
}

#inner_footer_container2-1{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.footer_nav_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#f_nav_left{  /* footer nav container left*/
    margin-left: 2vw;
}

#f_nav_right{
    margin-right: 2vw;
}

.ul_flexbox{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


#inner_footer_container2-2{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 50%;
}

#theme{
    height: 100%;
    width: 25%;
    padding-left: 10%;
}

#theme_title{
    margin-top: 4vh;
}
#theme_flexbox{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.theme_containers{
    display: flex;
    gap: 20px;
}

.theme_circle{
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 30%;
    cursor: pointer;
}

#red_color{
    background-color: var(--red_color1);
}

#blue_color{
    background-color: var(--blue_color1);
}

#yellow_color{
    background-color: var(--yellow_color1);
}

#purple_color{
    background-color: var(--purple_color1);
}

#img_artist{
    height: 20vh;
    margin-top: 5vh;
    margin-left: -2vw;
}

#img_pokeball2{
    right: -7vw;
    top: -11vh;
}

#liens_utiles{
    position: absolute;
    bottom: 10vh;
    right: 2vw;
}

#copyright{
    padding-top: 2.5vh;
    color: gray;
    font-size: 12px;
}
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/*Pas dans index.html*/
.sticky_header{
    position: sticky;
    top:0;
}

#main-flexbox{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto; /* Centre le div*/
}

#main_div_h1{
    display: flex;
    align-items: center;
}

#main_div_hr{
    width: 100%;
}



#section_container{
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    background-color: #1c1d1f;
    border-radius: 20px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
.h3_format{
    margin-left: 1.5vw;
}

.gray{
    color: gray;
}

.forms_class{
    margin-left: 3vw;
}

.start_checkbox{
    margin-left: 3vw;
}
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
.section_sample_team1{
    width: 100%;
    height: 130vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_sample_team2{
    width: auto;
    height: auto;
    flex-wrap: wrap;
    background-color: #1c1d1f;
    border-radius: 20px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

#img_aurore{
    padding-left: 10vw;
    margin-top: auto;
    height: auto;
    width: auto;
}

.table_styles{
    background-color: #1c1c1c;
    box-shadow: 5px 5px 5px var(--red_color1);
    border-radius: 20px;
    /* border: 1px solid silver; */
}

.pokemon_name{
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    width: 10vw;
}

.pokemon_gif{
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    width: 20vw;
    height: 30vh;
}

.types_paddings{
    max-width: 50vw;
    padding-top: 0.5vw;
    border-right: 1px solid silver;
}

.td_paddings{
    padding: 1vw;
    width: 20vw;
}

.table_flexbox_row{
    width: 100%;
    display: flex;
    /* border: 5px solid blue; */
    justify-content: space-between;
}

#button_copy{
    margin: 0 auto;
}

.w10{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wider_gif{
    width: 20vw;
}

.wider_longer_gif{
    width: 12vw;
    height: 25vh;
}

.longer_gif{
    height: 25vh;
}

/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/

#equipes_container{
    /* border: 1px solid white; */
    width: 50%;
    height: auto;
    background-color: #1c1d1f;
    border-radius: 20px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.flexbox_row{
    display: flex;
}

#img_prof_oak{
    padding-left: 10vw;
    padding-top: 2.5vh;
    height: 80vh;
    width: 20vw;
}

#img_flutter_mane{
    height: 40vh;
    width: 25vw;
}